* {
  color: $white;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
}

.Kotlin-injection-target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.Space {
  margin: 5rem auto !important;

  @include respond-to($small) {
    margin: 10rem auto !important;
  }

  @include respond-to($large) {
    margin: 15rem auto !important;
  }

  &-small {
    margin: 2rem auto !important;

    @include respond-to($small) {
      margin: 4rem auto !important;
    }

    @include respond-to($large) {
      margin: 6rem auto !important;
    }
  }

}

a {
  text-decoration: none;
}

p {
  line-height: 1.75rem;
}

body {
  background: $secondary;
}

.clearfix {
  clear: both;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.padded-bottom {
  padding-bottom: 4rem;
}

.uppercase {
  text-transform: uppercase;
}

.shaded {
  filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, .5));
}

.shaded-r {
  filter: drop-shadow(-2px -5px 6px rgba(0, 0, 0, .5));
}

.Percent-40 {
  animation: Percent40Out .5s forwards;
  animation-timing-function: ease-in-out;

  :hover {
    animation: Percent40In .5s forwards;
  animation-timing-function: ease-in-out;
  }

  p:hover {
    animation: Percent40In .5s forwards;
  animation-timing-function: ease-in-out;
  }
}
