* {
  color: $white;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
}

a {
  text-decoration: none;
}

body {
  background: $secondary;
}

.clearfix {
  clear: both;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.padded-bottom {
  padding-bottom: 4rem;
}

.uppercase {
  text-transform: uppercase;
}

.shaded {
  filter: drop-shadow(2px 5px 6px rgba(0,0,0, .5));
}

.shaded-r {
  filter: drop-shadow(-2px -5px 6px rgba(0,0,0, .5));
}

