// BREAKPOINTS
$lap_and_up: 600px;
$wide_lap_and_up: 900px;
$desk_and_up: 1200px;
$wall: 1800px;

$small: 'lap_and_up';
$medium: 'wide_lap_and_up';
$large: 'desk_and_up';
$xtraLarge: 'wall';

// COLORS
$gray-dark: #333;
$white: #fff;
$primary: #4488ee;
$secondary: #343444;

