// BREAKPOINTS
$lap_and_up: 600px;
$wide_lap_and_up: 900px;
$desk_and_up: 1200px;
$wall: 1800px;

$small: 'lap_and_up';
$medium: 'wide_lap_and_up';
$large: 'desk_and_up';
$xtraLarge: 'wall';

// COLORS
$gray-dark: #333;
$white: #fff;
$primary: #4488ee;
$primary-light: #4980FF;
$primary-lighter: #6291FF;
$secondary: #343444;
$red: #CC3A26;
$red-light: #FF5F49;
$red-lighter: #FF7562;
$yellow: #FFC949;
$yellow-light: #FFD162;

