button {
  height: 1.5rem;
  border-radius: 5px;
  box-shadow: -1px -1px -1px #efefef;
  outline: none;
}

.button {
  margin: 0 auto;
  width: 5rem;
  height: 2rem;
  box-shadow: 1px 1px 1px #333;
  background: $white;
}
